<article class="post">
    <div class="title">
            <a href="/post/{{id}}">{{title}}</a>
            <p class="timestamp">Posted by <span id="post-username">{{user.username}}</span> on {{created_at}}</p>
        </div>
    <div class="post-contents">
    <p>{{content}}</p>
    </div>
</article>

<ul class="comment-list">
    {{#each comments}}
    <li>
        <article class="comment">
        <p>{{comment_text}}</p>
        </article>
    </li>
    {{/each}}
</ul>

<article class="post">
    <div class="title-space"></div>
<form class="form-container" id="post-form" action="/api/comments" method="post">
    <div>
        <input type="hidden" name="id" value="{{id}}" />
    </div>
    <div>
        <label for="comment">Comment</label>
        <textarea name="comment_text" id="comment" rows="10"></textarea>
    </div>
    <div>
        <button type="submit" class="form-buttons" >Submit</button>
    </div>
</form>
</article>

